@import '../var/_var';


.node.node--type-page-custom.node--view-mode-full {
/* nested */

.node__content {}


.node__content > .layout,
.node__content > .layout > .block {
  margin-bottom: $siteg * 1.5;
}


.node__content > .layout:last-child,
.node__content > .layout:last-child > .block:last-child {
  margin-bottom: 0;
}


/* /nested */
}

/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

/* /desktop */
}

