/* block mixins */

@mixin block-pop {
  position: relative;
  border-radius: $block-border-radius;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 0 .5em rgba(0, 0, 0, 0.2);
  padding: 3em;
}


/* form layout mixins */

@mixin form-wrap {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}

@mixin form-item {
  flex-basis: 100%;
  padding: 1.5em 2em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-spacing: 0;
  border-collapse: collapse;
  flex: 1;
  margin-bottom:0;
}

@mixin form-label {
  display: block;
  font-size: $form-label-size;
  padding-bottom: .5em;
  background-color: $form-wrap-bgcolor;
  padding: $form-wrap-pad;
  border: $form-item-border;
  border-bottom: 0;
}

@mixin form-actions {
  margin-top: $siteg * 2;
}

@mixin form-50 {
  flex-basis: 50%;
}

@mixin form-33 {
  flex-basis: 33%;
}

@mixin form-25 {
  flex-basis: 25%;
}

@mixin form-table {
  width: 100%;
}

@mixin form-th {
  border: $form-td-border;
  padding: $form-td-pad;
  background-color: rgba($color-1, .15);
  text-align: left;
}

@mixin form-td {
  border: $form-td-border;
  padding: $form-td-pad;
	background: $form-td-bg;
}

@mixin form-td-alt {
	background: $form-td-bg2;
}

@mixin form-area {
  padding: $form-pad;
  background-color: rgba($color-1, .15);
  border: $form-border;
}

@mixin form-25 {
  flex-basis: 25%;
}

@mixin details-wrapper {
}



