@import '../var/_var';

/* basic defaults for theme styling */

.node--type-project.node--view-mode-full {
/* nested */

.node__content {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.show {
width: 100%;
}

.show .view-project-media {
}


.info {
width: 100%;
}

ul.tag-list {
padding: 0;
margin: 0;
margin-bottom: 2em;
display: flex;
flex-wrap: wrap;
> li {
border: $stroke-1 solid rgba($color-1, 1);
padding: .25em .75em;
margin-right: .25em;
margin-bottom: .25em;
border-radius: .25em;
}
> li a {
text-decoration: none;
}
/* /tag-list */
}

/* /nested */
}

/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

.node.node--type-project.node--view-mode-full  {
/* nested */
.node__content {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.show {
width: 50%;
}

.info {
width: 50%;
padding-left: 3em;
}

/* /nested */
}
/********************/
/* /end site layout for desktop screens */
/********************/
}
