@import '../var/_var';

.view-project-media {
/* begin nested block styles */

.slick-wrapper.slick-wrapper--asnavfor.slick-wrapper--classic { /* wraps both slick main and slick nav*/
}

/*
.slick-wrapper.slick-wrapper--asnavfor.slick-wrapper--classic {}
  .slick.blazy.slick--field.slick--field-block-images.slick--field-block-images--banner-images-slick-01.slick--view.slick--view--block-banner-images-slick.slick--view--block-banner-images-slick--banner-images-slick-01.slick--skin--classic.slick--optionset--banner-images-slick-01.slick--main.blazy--on.slick--initialized {}
    .slick__slider.slick-initialized.slick-slider {}
      .slick-list.draggable {}
        .slick-track {}
          .slick__slide.slide.slide--7.slide--caption--stage-zebra.slick-slide.slick-cloned {}
            .slide__content {}
              .slide__media {}
                .media.media--blazy.media--bundle--banner-images-slick.media--slick.media--ratio.media--ratio--fluid.media--responsive.media--image.is-b-loaded {}
                  picture {}
*/


/**
 * @file
 * Detailed stylings are all yours, get yourself dirty.
based on slick--skin--classic
 */

.slick__slide {
  overflow: hidden;
}

.slide__caption {
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  background-color: #FFF;
  background-color: rgba($white, 0.6);
  color: rgba($white, 1);
  left: auto;
  margin: 0;
  min-height: 10em;
  padding: .5em 1.5em;
  -webkit-transition: -webkit-transform .25s ease-in-out 0.1s;
  transition: transform 1s ease-in-out 0.1s;
  width: 100%;
  position: absolute;
}

.slide__caption h5 {
margin: 0 0 0 0;
color: rgba($color-text, 1);
font-size: 1.4em;
}

.slide__caption p {
margin: 0;
}


.slide__description {
  margin: 0;
}

.slide--caption--below .slide__caption {
  background: none;
  color: #38465c;
}

.slide--caption--center .slide__caption {
  color: #fff;

  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -webkit-backface-visibility: hidden;
}

.slide--caption--center:hover .slide__caption {
  visibility: visible;
}


@media all and (min-width: 768px) { /* page layout for desktop screens */
  .slide__caption {
    box-sizing: border-box; /* dups due to csslint ignoring inheritance */
    height: 100%;
    min-height: 100%;
    top: 0;
    width: 22%;
  }

  .slide__caption .slide__data {
    box-sizing: border-box; /* dups due to csslint ignoring inheritance */
    margin: 0 !important; /* csslint allow: known-properties, important */
    width: 100%;
  }

  .slide--caption--center .slide__caption {
    height: auto;
    left: 50%;
    margin: -60px 0 0 -40%;
    top: 50%;
    width: 80%;
  }

  .slide--caption--top .slide__caption,
  .slide--caption--center-top .slide__caption,
  .slide--caption--bottom .slide__caption,
  .slide--caption--below .slide__caption {
    box-sizing: border-box; /* dups due to csslint ignoring inheritance */
    height: auto;
    width: 100%;
  }

  .slide--caption--bottom .slide__caption {
    bottom: 0;
    -ms-transform: translateY(210px);
    -webkit-transform: translateY(210px);
    transform: translateY(210px);
    min-height: 3em;
    top: auto;
  }

  .slide--caption--stage-zebra .slide__title {
    margin-bottom: 30px;
  }

  .slide--caption--stage-zebra:nth-child(odd) .slide__caption,
  .slide--caption--stage-left .slide__caption,
  .slide--caption--left .slide__caption {
    left: 0;
    -ms-transform: translateX(-320px);
    -webkit-transform: translateX(-320px);
    transform: translateX(-320px);
  }

  .slide--caption--stage-zebra:nth-child(even) .slide__caption,
  .slide--caption--stage-right .slide__caption,
  .slide--caption--right .slide__caption {
    left: auto;
    right: 0;
    -ms-transform: translateX(320px);
    -webkit-transform: translateX(320px);
    transform: translateX(320px);
  }

  .slide--caption--top .slide__caption,
  .slide--caption--center-top .slide__caption {
    top: 0;
    -ms-transform: translateY(-210px);
    -webkit-transform: translateY(-210px);
    transform: translateY(-210px);
  }

  .slick__slide.slick-active .slide__caption {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}


/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
border: 3px solid red;
background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='8' height='14' viewBox='0 0 8 14'%3E%3Cpath d='M4.898 10.75q0 0.102-0.078 0.18l-0.391 0.391q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l3.641-3.641q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18t-0.078 0.18l-3.070 3.070 3.070 3.070q0.078 0.078 0.078 0.18zM7.898 10.75q0 0.102-0.078 0.18l-0.391 0.391q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l3.641-3.641q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18t-0.078 0.18l-3.070 3.070 3.070 3.070q0.078 0.078 0.078 0.18z'%3E%3C/path%3E%3C/svg%3E%0A");
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='8' height='14' viewBox='0 0 8 14'%3E%3Cpath d='M4.898 10.75q0 0.102-0.078 0.18l-0.391 0.391q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l3.641-3.641q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18t-0.078 0.18l-3.070 3.070 3.070 3.070q0.078 0.078 0.078 0.18zM7.898 10.75q0 0.102-0.078 0.18l-0.391 0.391q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l3.641-3.641q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18t-0.078 0.18l-3.070 3.070 3.070 3.070q0.078 0.078 0.078 0.18z'%3E%3C/path%3E%3C/svg%3E%0A");

}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}



.slick--skin--asnavfor {}
/*
.slick.slick--skin--asnavfor.slick--optionset--banner-images-slick-01-nav.slick--thumbnail.slick--multiple-view.slick--initialized {}
  .slick__slider.slick-initialized.slick-slider {}
    .slick-track {}
      .slick__slide.slide.slide--0.slick-slide.slick-cloned {}
        .slide__thumbnail {}
          img {}
*/


/**
 * @file
 * Provides basic thumbnail asNavFor skin.
 *
 * Main display has class "slick--main".
 * Thumbnail has class "slick--thumbnail".
 *
 * Tips: Be sure to use odd number for slideToShow with centerMode on.
 */
.slick--thumbnail {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.slick--thumbnail .slick-list {
  margin: 0 auto;
  padding: 30px 0;
}

.slick--thumbnail .slide__caption p {
  margin: 0;
}

.slick--thumbnail .slick-current {
  background: #fff;
}

.slick--thumbnail .slick__slide {
  margin: 0 2px;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s ease-in-out 0.2s;
  transition: transform 0.4s ease-in-out 0.2s;
}

.slick--thumbnail .slick__slide img {
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  border: 6px solid transparent;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.slick--thumbnail .slick__slide.slick-current {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 4;
}

.slick--thumbnail .slick__slide.slick-current::before {
  content: '';
  display: block;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom-color: #fff;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  top: -5px;
  width: 0;
  z-index: 1;
}

.slick--thumbnail .slick__slide.slick-current img {
  border-color: #fff;
}

.slick--thumbnail .slick-track {
  padding-bottom: 3em;
  padding-top: 3em;
}

.slick--thumbnail .slick__arrow .slick-disabled {
  pointer-events: none;
  opacity: 0;
}

/* /end nested block styles */
}

/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

.view-project-media {
/* begin nested styles */

.block-wrap {  /* block wrap sets the display type */
}
/* /end nested styles */
}

/* /desktop */
}
