@import '../var/_var';

.view.project-grid {
/* nested */


.view-content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0;
padding: 0;
}

.view-content > * {
margin: 0;
padding: 0;
width: 32%;
}

.view-content > .views-row {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}


.view-content > .views-row > .image {
border: 1px solid green;
margin: .5em auto 0 auto;
box-shadow: 0px 0px .5em rgba(204,204,204,0.5);
border: $stroke-1 solid rgba($gray,0.75);
border-bottom: 0 none;
width: 90%;
height: 15em;
overflow: hidden;
}

.view-content > .views-row > .info {
border-top: $stroke-1 solid rgba($gray, 1);
padding: 1em;
width: 95%;
}

.view-content > .views-row > .info a {
text-decoration: none;
}

.view-content > .views-row > .links {
border:1px solid blue;
position: absolute;
top:0;
left:0;
width: 100%;
padding: .1em;
}

.view-content > .views-row > .links a {
display: inline-block;
border: 1px solid rgba($gray, .75);
font-size: .9em;
}


}
