@import '../var/_var';

/**
 * @file
 * Styles for system messages.
 */

.messages {
    padding: 1em 2em 1em 3em;
    /* LTR */
    word-wrap: break-word;
    border: $stroke-1 solid;
    border-width: $stroke-1 $stroke-1 $stroke-1 0;
    /* LTR */
    border-radius: .25em;
    background: no-repeat .75em .9em;
    background-size: 1.5em;
    /* LTR */
    overflow-wrap: break-word;
    font-size: $font-size-body;
}

[dir="rtl"] .messages {
    padding-right: 35px;
    padding-left: 20px;
    text-align: right;
    border-width: 1px 0 1px 1px;
    background-position: right 10px top 17px;
}

.messages+.messages {
    margin-top: 1.538em;
}

.messages__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.messages__item+.messages__item {
    margin-top: 0.769em;
}


/* See .color-success in Seven's colors.css */

.messages--status {
    color: $green;
    border-color: rgba($green, .2) rgba($green, .2) rgba($green, .2) transparent;
    /* LTR */
    background-color: #f3faef;
    background-image: url(../../images/check.svg);
    box-shadow: -8px 0 0 #77b259;
    /* LTR */
}

[dir="rtl"] .messages--status {
    margin-left: 0;
    border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
    box-shadow: 8px 0 0 #77b259;
}

.messages--status a:link,
.messages--status a:visited {
    color: $green;
}


/* See .color-warning in Seven's colors.css */

.messages--warning {
    color: $yellow;
    border-color: rgba($yellow, .2) rgba($yellow, .2) rgba($yellow, .2) transparent;
    /* LTR */
    background-color: #fdf8ed;
    background-image: url(../../images/warning.svg);
    box-shadow: -8px 0 0 #e09600;
    /* LTR */
}

[dir="rtl"] .messages--warning {
    border-color: #f4daa6 transparent #f4daa6 #f4daa6;
    box-shadow: 8px 0 0 #e09600;
}

.messages--warning a:link,
.messages--warning a:visited {
    color: $color-1;
}


/* See .color-error in Seven's colors.css */

.messages--error {
    color: $red;
    border-color: rgba($red, .2) rgba($red, .2) rgba($red, .2) transparent;
    /* LTR */
    background-color: #fcf4f2;
    background-image: url(../../images/error.svg);
    box-shadow: -8px 0 0 #e62600;
    /* LTR */
}

[dir="rtl"] .messages--error {
    border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
    box-shadow: 8px 0 0 #e62600;
}

.messages--error p.error {
    color: #a51b00;
}

.messages--error a:link,
.messages--error a:visited {
    color: $green;
}