@import '../var/_var';

  /* Layout of each tab. */
  .vertical-tabs__menu-item {
    background: $site-bgcolor;
    background-color: $black;
  }

  .vertical-tabs__menu-item.is-selected {
    background-color: $site-bgcolor;
    background-color: $black;
  }

  .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
    color: $color-text;
  }