@import '../var/_var';

$crumb-color: rgba($color-1, .6);

nav.breadcrumb {
padding: 0;
overflow: hidden;
}
nav.breadcrumb * {
vertical-align: middle;
display: inline;
}

nav.breadcrumb {

ol {
display: flex;
margin: 0;
padding: 0;
color: $crumb-color;
}

li {
display: flex;
}

li > * {
white-space: nowrap;
display: inline-block;
vertical-align: middle;
}

li:before {
content:'>';
line-height: $link-height;
}

li a,
li span {
line-height: $link-height;
border: 1px solid transparent;
color: $crumb-color;
padding: 0 .5em;
}

li a {
&:hover {
background-color: rgba($color-1, .025);
border: 1px solid rgba($color-1, .05);
}
}

}