@import '../var/_var';

nav.menu--account {
}

nav.menu--account ul.menu {
}

nav.menu--account ul.menu > li.menu-item {
}

nav.menu--account ul.menu > li.menu-item a {
}

nav.menu--account ul.menu > li.menu-item a.is-active {
}

/* remove anonymous links for authorized users */
.user-logged-in li.create-account,
.user-logged-in li.login,
.user-logged-in li.retrieve-account {
  display: none;
}
