@import '../var/_var';

/* default menu links */

nav.menu--footer ul.menu {
/* begin nested menu styles */
> li {
}

> li > span,
> li > a,
> li > a:visited {
  display:block;
  padding:0 $link-pad;
  line-height: $link-height;
  /**/
  color: $link-color;
  border: $link-border;
}

> li > a:hover {
  color: $link-hover-color;
  background-color: $link-hover-bgcolor;
  border: $link-hover-border;
}

> li > a:active {
  color: $link-click-color;
  background-color: $link-click-bgcolor;
  border: $link-click-border;
}

> li > a.is-active,
> li > a.is-active:visited {
  color: $link-isactive-color;
  background-color: $link-isactive-bgcolor;
  border: $link-isactive-border;
}

> li > a.is-active:hover {
  color: $link-isactive-hover-color;
  background-color: $link-isactive-hover-bgcolor;
  border: $link-isactive-hover-border;
  cursor: default; /* leave cursor unchanged */
}

> li > a.is-active:active {
  color: $link-isactive-click-color;
  background-color: $link-isactive-click-bgcolor;
  border: $link-isactive-click-border;
}

> li.menu-item--collapsed {
}
/* end nested menu styles */
}


/* *********************************************************** */

@media all and (min-width: 768px) { /* set for desktop screens */

nav.menu--footer {
border:$stroke-1 solid rba(red, .8);
}

nav.menu--footer ul.menu {
/* begin nested menu styles */

> li {
  margin-bottom: 0;
  margin-right: $d-link-space;
}

> li > span,
> li > a,
> li > a:visited {
  font-size: $d-link-size;
}
/* /end nested menu styles */
}
/* end desktop */
}
