@import '../var/_var';

article.profile {
position: relative;
/* begin nested */


.user__account {
display: flex;
justify-content: center;
align-items: center;
/* nested */

.field--name-user-picture {
padding-left: $siteg;
}

/* /nested */
}





.user__content {
display: flex;
flex-direction: column;
/* nested */


.form-item {}


/* /nested */
}




/* end nested profile */
}
