@import '../var/_var';

/* media-type remote-video */

.media--type-remote-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: $siteg;
}

.media--type-remote-video iframe,
.media--type-remote-video object,
.media--type-remote-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

/* /end desktop */
}
