@import '../var/_var';

$image-pad: $siteg * 2;
$image-border: $stroke-1 solid rgba(transparent, 0);


/* image styles */

article.media--type-image {
  border: $stroke-1 solid rgba($color-1, .5);
  max-width: 100%;
  height: auto;
  margin-bottom: $siteg;
/* begin nested */

&.align-right,
&.align-left,
&.align-center {
  float: none; /* turn off floats for handheld */
}

img {
  display: block; /* removes space beneath image */
  width: 100%;
  height: auto;
}

/* /end nested article.media--type-image */
}

figure.caption { /* captions are stored in a wrapped figure element */
  margin: 0;
  margin-bottom: $siteg;
}

figure.caption.align-right,
figure.caption.align-left {
}

figure.caption article.media--type-image {
  margin-bottom: 0; /* remove bottom margin when wrapped in a caption figure */
}

figure.caption figcaption { /* the caption area beneath the image inside figure */
  border: $image-border;
  border-top: none;
  padding: .5em;
  margin: 0;
  font-size: $font-size-body * .75;
  text-align: center;
  background-color: rgba($gray, .2);
}

/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

figure.caption {
/* begin nested */
&.align-right {
  float: right;
  margin-left: $image-pad;
}

&.align-left {
  float: left;
  margin-right: $image-pad;
}

article.align-right,
article.align-center,
article.align-left {
  float: unset;
  margin: 0;
}
/* /end nested */
}

article.media--type-image {
/* begin nested */

/* provide margin and floats for aligned images on desktop */
&.align-right {
  float: right;
  margin-left: $image-pad;
}

&.align-left {
  float: left;
  margin-right: $image-pad;
}

&.align-center {
  float: none;
  text-align: center;
}

/* /end nested article.media--type-image for desktop */
}

/* /end desktop */
}
