@import '../var/_var';

.node,
.profile {
position: relative;
/* begin nested display defaults */

/* display-link is available for each display. include a link to node in each template that displays this */
a.display-link {
display: block;
position: absolute;
z-index: 1;
width: 100%;
height: 100%;
text-decoration: none;
top:0;
left:0;
}

/* force links in body text areas to be clickable (when covered by a display-link) */
.text-formatted a,
.text-formatted a {
position: relative;
z-index: 2;
}
/* end nested display defaults */
}
