@import '../var/_var';
.body-copy, .cke_editable, .field--type-text-long, .field--type-text-with-summary {
/* begin nested body-copy styles */

/* set styles for when editing drupal media */
.cke_widget_drupalmedia {
  border: $stroke-2 solid rgba($gray, .5);
  padding: 1em;
  display: flow-root; /* clearfix */
  background-color: rgba($gray, .25);
  margin: 0 0 $siteg 0;
}

.cke_widget_drupalmedia article {
  float: unset;
  text-align: center;
}

.cke_widget_drupalmedia article img {
  max-width: 60%;
}

.cke_widget_drupalmedia figure.caption {
  float: unset;
}

/* /end nested body-copy styles */
}
