.block-views-blocklogged-in-block-1{margin-bottom:0}.block-views-blocklogged-in-block-1{margin-right:-1.568em;margin-left:-1.568em;padding:1.2em 1.568em;background-color:rgba(0,0,0,0)}@media all and (min-width: 768px){.block-full-width{margin-right:-7.568em;margin-left:-7.568em;padding:1.2em 7.568em;background-color:rgba(0,0,0,0)}}/*# sourceMappingURL=block.logged-in-block.css.map */
