.layout.wide{margin-right:-1.568em;margin-left:-1.568em;padding-right:1.568em;padding-left:1.568em}.layout.reverse-1{background-color:#93a3b1}@media all and (min-width: 768px){.layout.wide{margin-right:-7.568em;margin-left:-7.568em;padding-right:7.568em;padding-left:7.568em}}/*# sourceMappingURL=block.section.css.map */
