.block.block-system-branding-block{text-align:center;margin:0;display:flex;flex-direction:column;justify-content:center}.block.block-system-branding-block a.site-logo{display:block;width:8em}.block.block-system-branding-block a.site-logo svg{width:100%;height:auto}@media all and (min-width: 768px){.block.block-system-branding-block a.site-logo svg{width:8em}}/*# sourceMappingURL=block.site-branding.css.map */
