@import '../var/_var';

$image-pad: $siteg;

$image-border: $stroke-1 solid rgba($gray,.75);


nav.pager {
display: flex;
flex-grow: 1;
}

.pager__items { /* ul */
display: flex;
width: 100%;
justify-content: center;
padding: 0;
}


.pager__item { /* li */
margin: 0 .5em;
padding: 0;
line-height: 3em;
display: flex;
border:$stroke-1 solid rgba($gray, .5);
border-radius: .5em;
overflow: hidden; /* clip fix for rounded corners */
background-clip: context-box;
}

.pager__item > a,
.pager__item > span {
display: block;
text-decoration: none;
background-color: rgba($white, 1);
padding: 0 1.25em;
}

.pager__item.pager__item--ellipsis {
border:$stroke-1 solid rgba(transparent, 0);
}

.pager__item > a:hover,
.pager__item > span:hover {
background-color: rgba($color-1, .25);
}


.pager__item.is-active {
}

.pager__item.is-active span,
.pager__item.is-active a {
background-color: rgba($color-1, .75);
background-color: rgba($color-1, .5);
color: $black;
}



.pager__item.pager__item--next {
}


.pager__item.pager__item--last {
}

.pager__item.is-active {}


/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */



/* desktop */
}

