@use "sass:math";
@import '../var/_var';

$image-pad: $siteg * 2;
$image-border: $stroke-1 solid rgba(transparent, 0);

body.cke_editable {
  background-image: none;
  margin: 0;
  padding: 0;
  font-size: 2.4vw;
  background-color: rgba($site-bgcolor, 1);
  background-color: rgba($white, 1);
  color: rgba($color-text,1);
}

/* styles to format body-copy */

.body-copy, .cke_editable, .field--type-text-long, .field--type-text-with-summary {
color: rgba($color-text, 1);

/* block level elements */
h2, h3, h4, h5, h6, p, blockquote, ul, ol, table {
  margin-top: 0;
  margin-bottom: 1em;
}

p {
  margin-bottom: $siteg;
}

blockquote {
  font-style: italic;
  background-color: rgba($gray, .15);
  margin: 0;
  padding-top: 1.5em;
  padding-right: .5em;
  padding-bottom: 1.5em;
  padding-left: 4em;
  border-left: .5em solid $gray;
  margin-bottom: $siteg;
/* nested */
p:last-child {
  margin-bottom: 0;
}
/* /nested */
}

h3 {
  margin-top:-.25em;
}

p,
li,
th {
	font-size: $font-size-body;
  font-weight: $font-weight-body;
	line-height: $line-height-body;
}

p.topic {
  font-style: italic;
  font-weight: bold;
}

$pop-pad: .5em;

p.notices {
padding: $pop-pad;
position: relative;
border-radius: .2em;
overflow: hidden;
/* nested */
&:before {
display: block;
content:"Message";
padding: math.div($pop-pad, 2);
padding-left: $pop-pad;
margin: -$pop-pad;
margin-bottom: $pop-pad;
font-size: .9em;
color: $white;
padding-left: 2em;
background-image: $notice;
background-position: $pop-pad center;
background-repeat: no-repeat;
background-size: 1em;
}
/* /nested */
}

p.notices.info {
background-color: rgba($site-bgcolor, .25);
/* nested */
&:before {
background-color:  rgba($site-bgcolor, .75);
content:"Message";
display: none;
}
/* /nested */
}

p.notices.note {
background-color: rgba($yellow, .2);
/* nested */
&:before {
background-color:  rgba($yellow, .75);
content:"Note";
}
/* /nested */
}

p.notices.tip {
background-color: rgba($green, .2);
/* nested */
&:before {
background-color:  rgba($green, .75);
content:"Tip";
}
/* /nested */
}

p.notices.warning {
background-color: rgba($red, .2);
content:"Warning";
/* nested */
&:before {
background-color:  rgba($red, .75);
}
/* /nested */
}

li {
  padding-left: .5em;
  margin: 0;
  margin-bottom: .25em;
}

ul,
ol {
  margin-left: 0;
  padding-left: 2em;
  list-style: outside;
}

ul > li {
  list-style-type: disc;
}
ol > li {
  list-style-type: decimal;
}

ul li:last-child,
ol li:last-child {
  margin-bottom: $siteg;
}


hr {
  clear: both;
  border-top: $stroke-2 solid rgba($color-1, 1);
  margin: $siteg 0;
}

hr.clear {}

a:link,
a:visited {
	text-decoration: underline;
  word-break: break-word;
  word-wrap: break-word;
}

a:link {
	color: rgba($color-2, 1);
}

a:visited {
}

a:hover {
	color: rgba($color-2, 1);
}

span.filepath {
font-size: .975em;
word-break: break-all;
background-color: rgba($gray, .15);
font-family: ui-monospace;
}

/**
 * @file
 * Visual styles for buttons.
 */

a.button {
  font-size: .9em;
}

p.author {
  border: $stroke-1 solid rgba($gray, 1);
  padding: $siteg;
  clear: both;
}

.media.media--type-image img {
  max-width: 100%;
}

/* /body-copy styles */
}

.cke_widget_wrapper {
  padding: 0;
}

figure.caption-drupal-media { /* override default figure definitions */
  margin-block-start: 0;
  margin-block-end: $siteg;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

drupal-media[data-align=center] {
  display: unset; /* remove display: flex */
  }


/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */
/* begin nested desktop styles */

body.cke_editable {
  font-size: 1.5vw !important;
}

.media--view-mode-article-image-50 img {
  width: 35em;
  border: 1px solid blue;
}

.media--view-mode-article-image-25 img {
  width: 19em;
  border: 1px solid green;
}

/* /end -  desktop */
}