@import '../var/_var';

/* the originating list ->
ul.sf-menu.sf-style-d9site {
  margin-bottom: 1em;
  padding: 0;
}
ul.sf-menu.sf-style-d9site.sf-navbar {
  width: 100%;
}
ul.sf-menu.sf-style-d9site ul {
  margin: 0;
  padding: 0;
}

* nav variables *
$nav-align: center !default;
$link-pad: 1em !default;
$link-size: 1.25em !default;
$d-link-size: 1.05em !default;
$link-height: 3em !default;
$link-space:.25em !default;
$d-link-space:.25em !default;
$link-radius:.25em !default;

* default menu links *

* menu links - link color *
$link-color: $color-1 !default;
$link-hover-color: $color-1 !default;
$link-click-color: $color-1 !default;
$link-border: $stroke-1 solid rgba($color-1, .3) !default;

* menu links - background color *
$link-bgcolor: rgba(transparent, 0) !default;
$link-hover-bgcolor: rgba(transparent, 0) !default;
$link-click-bgcolor: rgba($color-1, .3) !default;

* menu links - border weight, stroke and color *
$link-border: $stroke-1 solid rgba($color-1, .5) !default;
$link-hover-border: $stroke-1 solid rgba($color-1, .75) !default;
$link-click-border: $stroke-1 solid rgba($color-1, 1) !default;

* active menu links *

* active menu links - active item link color *
$link-isactive-color: $white !default;
$link-isactive-hover-color: $white !default;
$link-isactive-click-color: $color-1 !default;

* active menu links - active item background color *
$link-isactive-bgcolor: $color-2 !default;
$link-isactive-hover-bgcolor: $color-2 !default;
$link-isactive-click-bgcolor: rgba($color-1, .2) !default;

* active menu links - active item border color *
$link-isactive-border: $stroke-1 solid rgba(transparent, 0) !default;
$link-isactive-hover-border: $stroke-1 solid rgba(transparent, 0) !default;
$link-isactive-click-border: $stroke-1 solid $white !default;

<- */
ul.sf-menu.sf-style-d9site {
  margin-bottom: 1em;
  padding: 0;
}
ul.sf-menu.sf-style-d9site.sf-navbar {
  width: 100%; /* navbar width to 100% */
}

ul.sf-menu.sf-style-d9site ul { /* subnav has 0 margin or padding - set subnav background-color and border here */
  margin: 0;
  padding: 0;
  background-color: rgba($white, 1);
}
/* end */

/* all links within the primary nav tree - dg added to target primary ->
ul.sf-menu.sf-style-d9site a,
ul.sf-menu.sf-style-d9site a:visited,
ul.sf-menu.sf-style-d9site span.nolink {
  border: 0 none;
  color: #005bb7;
  padding: 0.75em 1em;
}
}
<- */
ul.sf-menu.sf-style-d9site > li {
  margin-right: $link-space;
}
/* default menu link style - adjust submenus in next definition  */
ul.sf-menu.sf-style-d9site li > a,
ul.sf-menu.sf-style-d9site li > a:visited,
ul.sf-menu.sf-style-d9site li > span.nolink {
  border: $link-border;
  color: $link-color;
  padding: 0 $link-pad-right 0 $link-pad-left;
  text-decoration: none;
  line-height: $link-height;
  display: flex;
  align-content: center;
  align-items: center;
  background-color: $link-bgcolor;
 	border-radius: $link-radius;
}

/* end */

/* all links below primary within the nav tree ->
ul.sf-menu.sf-style-d9site a,
ul.sf-menu.sf-style-d9site a:visited,
ul.sf-menu.sf-style-d9site span.nolink {
  border: 0 none;
  color: #005bb7;
  padding: 0.75em 1em;
}
<- */

/* sub-menu link style - adjust submenus in next definition  */
ul.sf-menu.sf-style-d9site li li > a,
ul.sf-menu.sf-style-d9site li li > a:visited,
ul.sf-menu.sf-style-d9site li li > span.nolink {
  margin-top: -1px;
}

/* end */

/* links that have submenus ->
ul.sf-menu.sf-style-d9site a.sf-with-ul,
ul.sf-menu.sf-style-d9site span.nolink.sf-with-ul {
  padding-right: 2.25em;
}
ul.sf-menu.sf-style-d9site.rtl a.sf-with-ul,
ul.sf-menu.sf-style-d9site.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
<- */
ul.sf-menu.sf-style-d9site a.sf-with-ul,
ul.sf-menu.sf-style-d9site span.nolink.sf-with-ul {
  padding-right: 0; /* remove pad let element spacing take over */
}
ul.sf-menu.sf-style-d9site.rtl a.sf-with-ul,
ul.sf-menu.sf-style-d9site.rtl span.nolink.sf-with-ul {
  padding-right: 0; /* remove pad let element spacing take over */
}
/* end */

ul.sf-menu.sf-style-d9site span.sf-description {
  color: #aaa;
  display: block;
  font-size: smaller;
  line-height: 1.5;
  margin: 0.25em 0 0 0;
  padding: 0;
}

/* the primary menu list items ->
ul.sf-menu.sf-style-d9site li,
ul.sf-menu.sf-style-d9site.sf-navbar {
  background: #fafafa;
}
<- */
/* backgrounds on first level list items */
ul.sf-menu.sf-style-d9site > li,
ul.sf-menu.sf-style-d9site.sf-navbar { /* list items are transparent */
  background: transparent;
}

/* end */

/* lists within lists -- submenus ->
ul.sf-menu.sf-style-d9site li li,
ul.sf-menu.sf-style-d9site.sf-navbar > li > ul {
  background: #f7f7f7;
}
ul.sf-menu.sf-style-d9site li li li {
  background: #f4f4f4;
}
<- */
/* backgrounds for uls inside lis and lis inside lis */
ul.sf-menu.sf-style-d9site li li,
ul.sf-menu.sf-style-d9site.sf-navbar > li > ul {
  background: transparent;
  background: $color-2;
}
ul.sf-menu.sf-style-d9site li li li {
  background:transparent;
}


/* link hover states ->
ul.sf-menu.sf-style-d9site li:hover,
ul.sf-menu.sf-style-d9site li.sfHover,
ul.sf-menu.sf-style-d9site a:focus,
ul.sf-menu.sf-style-d9site a:hover,
ul.sf-menu.sf-style-d9site span.nolink:hover {
  background: #f0f0f0;
  outline: 0;
}
<- */
/* backfround color on focused or hovered links */
ul.sf-menu.sf-style-d9site a:focus,
ul.sf-menu.sf-style-d9site a:hover,
ul.sf-menu.sf-style-d9site span.nolink {
  background-color: $link-bgcolor;
  outline: 0;
  text-decoration: none;
  color: $link-hover-color;
  border: $link-hover-border;
}

.sf-menu.sf-style-d9site.sf-navbar li ul {
  background: #f7f7f7;
}
.sf-menu.sf-style-d9site.sf-navbar li ul li ul {
  background: transparent;
}
div.sf-accordion-toggle.sf-style-d9site a {
  background: #210c02;
  border: 1px solid #381301;
  color: #fff;
  display: inline-block;
  font-weight: 300;
  padding: 1em 3em 1em 1em;
  position: relative;
}

/* end */

div.sf-accordion-toggle.sf-style-d9site  > a:after {
  content: "≡";
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  speak: none;
}
div.sf-accordion-toggle.sf-style-d9site a.sf-expanded,
ul.sf-menu.sf-style-d9site.sf-accordion li.sf-expanded {
  background: #52250f;
}
div.sf-accordion-toggle.sf-style-d9site a.sf-expanded,
ul.sf-menu.sf-style-d9site.sf-accordion li.sf-expanded > a,
ul.sf-menu.sf-style-d9site.sf-accordion li.sf-expanded > span.nolink {
  font-weight: 300;
}
ul.sf-menu.sf-style-d9site.sf-accordion li a.sf-accordion-button {
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
ul.sf-menu.sf-style-d9site.sf-accordion li li a,
ul.sf-menu.sf-style-d9site.sf-accordion li li span.nolink {
  padding-left: 2em;
}
ul.sf-menu.sf-style-d9site.sf-accordion li li li a,
ul.sf-menu.sf-style-d9site.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
ul.sf-menu.sf-style-d9site.sf-accordion li li li li a,
ul.sf-menu.sf-style-d9site.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
ul.sf-menu.sf-style-d9site.sf-accordion li li li li li a,
ul.sf-menu.sf-style-d9site.sf-accordion li li li li li span.nolink {
  padding-left: 5em;
}
ul.sf-menu.sf-style-d9site.rtl.sf-accordion li li a,
ul.sf-menu.sf-style-d9site.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
ul.sf-menu.sf-style-d9site.rtl.sf-accordion li li li a,
ul.sf-menu.sf-style-d9site.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
ul.sf-menu.sf-style-d9site.rtl.sf-accordion li li li li a,
ul.sf-menu.sf-style-d9site.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
ul.sf-menu.sf-style-d9site.rtl.sf-accordion li li li li li a,
ul.sf-menu.sf-style-d9site.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
ul.sf-menu.sf-style-d9site li.sf-multicolumn-wrapper ol,
ul.sf-menu.sf-style-d9site li.sf-multicolumn-wrapper ol li {
  margin: 0;
  padding: 0;
}
ul.sf-menu.sf-style-d9site li.sf-multicolumn-wrapper a.menuparent,
ul.sf-menu.sf-style-d9site li.sf-multicolumn-wrapper span.nolink.menuparent {
  font-weight: 300;
}


/* sub-indicator -- overwrite the default -- not included in theme css ->
ul.sf-menu .sf-sub-indicator {
height: 12px;
line-height: 9999px;
opacity: 0.75;
overflow: hidden;
position: absolute;
right: 0.75em;
speak: none;
text-indent: -9999px;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
width: 12px;
}
<- */
ul.sf-menu .sf-sub-indicator {
height: auto;
opacity: 1;
overflow: auto;
position: relative;
right: auto;
speak: none;
text-indent: 0;
top: auto;
-webkit-transform: inherit;
-moz-transform: inherit;
-ms-transform: inherit;
-o-transform: inherit;
transform: inherit;
width: $link-pad-top * 2;
display:inline-block;
line-height: $link-height;
vertical-align: middle;
background-image: url('../../images/default/dropdown.svg');
background-color: rgba($color-1, .75);
mask-image: url('../../images/default/dropdown.svg');
-webkit-mask-image: url('../../images/default/dropdown.svg');
mask-repeat: no-repeat;
-webkit-mask-repeat: no-repeat;
mask-position: center center;
-webkit-mask-position: center center;
mask-size: 60%;
-webkit-mask-size: 60%;
color: transparent; /* hide text */
}

/* dropdown positioning -- overwrite the default -- not included in theme css ->
ul.sf-menu li:hover > ul, ul.sf-menu li.sfHover > ul {
left: 0;
top: 2.5em;
}
<- */
ul.sf-menu li:hover > ul, ul.sf-menu li.sfHover > ul {
left: 0;
top: $link-height + .25em;
}


ul.sf-menu li ul.sf-menu .sf-sub-indicator {
background-color: green;
  }
