@import '../var/_var';

#layout-builder {}
.layout-builder {}

.layout-builder .block {
padding: min(2em);
}

ul,
ol {
padding: 0;
}

li {
padding: 0;
list-style: none;
}

/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */
video {
max-height: 45em; /* set max height for portrait videos */
}
}
