@import '../var/_var';

h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote {
	margin-top:0;
}

* {
  box-sizing: border-box;
}

img {
	max-width: 100%;
}

.flexslider {
margin: 0;
}

/**/

.clickrow .views-row {
}

.clickrow .views-row:hover {
cursor: pointer;
}

.clickrow .views-row:hover td,
.clickrow .views-row:hover th {
border-color: rgba($color-2, 1);
}

.display-link {
position: absolute;
text-decoration: none;
top:0;
left:0;
width: 100%;
height: 100%;
z-index: 0;
}

video {
width: 100% !important;
max-width: 100%;
height: auto !important;
max-height: 25em; /* set max height for portrait videos */
text-align: center;
}

.twitter-tweet {
/* display: flex; max-width: 550px; width: 100%; margin-top: 10px; margin-bottom: 10px; */
max-width: 100% !important;
background-color: yellow;
align-items: center;
justify-content: center;
text-align: center;
}

.twitter-tweet iframe {
/* position: static; visibility: visible; width: 550px; height: 577px; display: block; flex-grow: 1; */
position: relative !important;
display: inline-block !important;
align-self: center;
}

:target::before {
  content: "";
  display: block;
  height: $d-page-header * .7; /* fixed header height*/
  margin-top: -$d-page-header * .7; /* negative fixed header height */
}

span.break {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* grid-2-3-flex */
.grid-2-3-flex {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: $siteg;
}

.grid-2-3-flex > * {
flex-basis: 48%;
}

@media all and (min-width: 768px) {
/* desktop */
.grid-2-3-flex {
}
.grid-2-3-flex > * {
flex-basis: 32.2%;
}
/* /desktop */
}
/* /grid-2-3-flex */



/* grid-2-3-grid */
.grid-2-3-grid {
display: grid;
gap: $siteg;
grid-template-columns: 1fr 1fr;
}

.grid-2-3-grid > * {
}

@media all and (min-width: 768px) {
/* desktop */
.grid-2-3-grid {
grid-template-columns: 1fr 1fr 1fr;
}
.grid-2-3-grid > * {
}
/* /desktop */
}
/* /grid-2-3-grid */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */
video {
max-height: 45em; /* set max height for portrait videos */
}

:target::before {
  height: 0; /* fixed header height*/
  margin: 0 0 0; /* negative fixed header height */
}

}
