{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<!-- Pushy Menu -->
<nav class="pushy pushy-right">
    <div class="pushy-content">
    {% if page.sidebar_first %}
    <div class="sidebar">
      {{ page.sidebar_first }}
      {# /sidebar #}
    </div>
  {% endif %}
{# /pushy-content #}
    </div>
{# /pushy #}
</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>
<div id="container" class="sitew{% if page.show %} slideshow{% endif %}"><!-- required for pushy menu -->
<header class="page-header pagep" role="banner">
{{ page.header }}
{{ page.primary_menu }}
<button class="menu-btn">☰</button>
{# /header #}
</header>
{{ page.show }}
<div class="page-main pagep">
    <div class="utility-belt">
      <div class="mgr-links
        {% if page.manage.manage %} manager{% endif %}
        {% if page.manage.breadcrumbs %} crumbs{% endif %}
        {% if page.manage.useraccountmenu %} account{% endif %}
        clearfix">
      {{ page.manage }}
      {{ page.breadcrumbs }}
      {# /mgr-links #}
      </div>
    {# /utility-belt #}
    </div>
  <main class="main-wrapper" role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div class="page-content clearfix">
        {{ page.actions }}
        {% if page.highlighted|render|striptags('<img><video><drupal-render-placeholder>')|trim is not empty %}
        {{ page.highlighted }}
        {% endif %}
        {{ page.help }}
        {{ page.title }}
        {{ page.secondary_menu }}
        {{ page.content }}
      {# /page-content #}
      </div>
    {# /main-wrapper #}
    </main>
{# /page-main #}
</div>
<footer class="page-footer pagep" role="contentinfo">
{{ page.footer }}
{# /page-footer #}
</footer>
{# /container - required for pushy menu #}
</div>
{#
default:
page.header: Items for the header region.
page.help: Dynamic help text, mostly for admin pages.
page.content: The main content of the current page.
page.breadcrumb: Items for the breadcrumb region.
page.sidebar_first: Items for the second sidebar.
page.footer: Items for the footer region.
page.highlighted: Items for the highlighted content region.
page.primary_menu: Items for the secondary menu region.
page.secondary_menu: Items for the secondary menu region.

default unused:
page.sidebar_second: Items for the first sidebar.

custom added for d9site:
page.show: fullscreen slideshow area
page.manage: management links
page.actions: this could be replace with page.secondary_menu
page.title: place the page title
#}

