@import '../var/_var';

.view-header {
padding-bottom: $siteg;
}

.view-header a.views-display-link {
display: inline-block;
padding: 1em;
border: $stroke-1 solid rgba($gray, .5);
border-radius: .25em;
appearance: button;
-webkit-appearance: button;
-moz-appearance: button;
text-decoration: none;
}

/* view attachment */

.view .attachment .view-content {
display: block !important; /* override display settings */
text-align: right !important; /* override display alignment settings */
}

/* button links in view attachments */

.view .attachment a.button {
font-size: 1em;
padding: .5em 1em;
}

.view .attachment.attachment-before {}

.view .attachment.attachment-after {}



.view.grid-1-2 {

}

.view.grid-1-2 .view-content {
  display: grid;
  grid-template-columns: 100%;
  column-gap: $siteg;
  row-gap: $siteg;
}

.view.grid-1-2 .view-content > .row {
}

@media all and (min-width: 768px) { /* desktop screens */
  .view.grid-1-2 .view-content {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}





/*******************************************************/
@media all and (min-width: 768px) { /* desktop screens */
}
