@import '../var/_var';
$manage-thumb-size: 5em;
$manage-title-size: 1.2em;

.view.manage table.views-table {
/* begin nested */

td.thumb {
  min-width: $manage-thumb-size;
  width: $manage-thumb-size;
}

td.thumb img {
  min-width: $manage-thumb-size;
  width: $manage-thumb-size;
}

td.title {
  font-size: $manage-title-size;
}

td.nobreak {
}

/* create default thumbnails for page icons depending on page type */
td.thumb {
  background-repeat: no-repeat;
  background-position: center center;
  height: 6em;
  background-size: 4em;
}

.draggable td.thumb {
  min-width: $manage-thumb-size + 4em;
  width: $manage-thumb-size + 4em;
}

.draggable td.thumb a.tabledrag-handle {
  margin-top: 2.65em;
}


/* table thumbnail images inside spans */

span.thumb {
height: $manage-thumb-size;
width: $manage-thumb-size;
overflow: hidden;
display: inline-block;
vertical-align: middle;
}

.draggable td.thumb span.thumb {
  border: 1px solid green;
  float:left;
}


span.thumb.empty {
background-color: rgba($color-1, 1);
mask-size: contain;
-webkit-mask-size: contain;
width: $manage-thumb-size;
mask-repeat: no-repeat;
}

span.thumb.empty.page_custom {
mask-image: $page-image-custom;
-webkit-mask-image: $page-image-custom;
}

span.thumb.empty.page_config {
mask-image: $page-image-config;
-webkit-mask-image: $page-image-config;
}

span.thumb.empty.article {
mask-image: $page-image-article;
-webkit-mask-image: $page-image-article;
}

span.thumb.empty.user,
span.thumb.empty.author {
mask-image: $default-profile-1x1;
-webkit-mask-image: $default-profile-1x1;
}

/* /create default thumbnails for page icons depending on page type */


/* end nested */
}

@media all and (min-width: 768px) { /* desktop screens */
.view.manage table.views-table td.thumb {
  min-width: $manage-thumb-size;
}
.view.manage table.views-table td.thumb img {
  height: $manage-thumb-size;
  width: $manage-thumb-size;
}
}
