@import '../var/_var';

/* default styles for layout sections */

.layout {
}

.layout.wide {
  margin-right: -$m-pagep;
  margin-left: -$m-pagep;
  padding-right: $m-pagep;
  padding-left: $m-pagep;
}

.layout.reverse-1 {
background-color: rgba($color-1, 1);
}


/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

.layout {
}

.layout.wide {
margin-right:-$d-pagep;
margin-left:-$d-pagep;
padding-right: $d-pagep;
padding-left: $d-pagep;
}
/* /desktop ***************************************** */
}

