@import '../var/_var';

.block.block-user-login-block {
}

.block.block-user-login-block .form-actions {
}

.block.block-user-login-block .form-actions input {
margin-right: 1em;
}

.block.block-user-login-block .item-list {
display: inline;
}

.block.block-user-login-block .item-list ul {
display: flex;
margin:0;
padding: 0;
line-height: normal;
line-height: 3em;
}

.block.block-user-login-block .item-list ul > li {
list-style: none;
padding:0;
margin: 0 1em 0 0;
border: $stroke-1 solid rgba($gray, .5);
vertical-align: middle;
}

.block.block-user-login-block .item-list ul > li a {
padding: .5em;
color: rgba($gray, .75);
text-decoration: none;
font-size: $font-size-body * .8;
line-height: 2.5em;
}
