@import '../var/_var';

.block.block-system-branding-block {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block.block-system-branding-block a.site-logo {
  display: block;
  width: 8em;
}

.block.block-system-branding-block a.site-logo svg {
  width: 100%;
  height: auto;
}

/* *********************************************************** */

@media all and (min-width: 768px) { /* set for desktop screens */

.block.block-system-branding-block a.site-logo svg {
  width: 8em;
}


/* end desktop */
}
