@import '../var/_var';

/* add margin below all blocks placed in page-content region */
.page-content .block {
  margin-bottom: $siteg * 4;
}

.page-content .block.block-system-main-block {
  margin: 0;
}

/* block box-1 */
/* box styles include border background and padding */
.box-1 {
@include block-pop;
padding: 1.5em;
border: $stroke-1 solid rgba($gray, .35);
background-color: rgba($site-bgcolor, .1);
/* nested box-1 styles */

> *:last-child {
margin-bottom: 0 !important;
}

h2,
h2 a:link,
h2 a:visited {
color: rgba($color-1, 1);
}

h3,
h3 a:link,
h3 a:visited {
color: rgba($color-1, 1);
}

&.stroke-1 {
  border-color: rgba($color-1, 1);
}

&.stroke-2 {
  border-color: rgba($color-1, 1);
}

&.stroke-3 {
  border-color: rgba($color-1, 1);
}

&.pars { /* a block with multiple paragraphs to take on the box-1 style */
  background-color: unset;
  padding: 0 !important;
  box-shadow: unset;
  border-radius: unset;
  border: 0 none;
  }

&.pars .paragraph {
  @include block-pop;
  padding: $block-pad;
  border: $stroke-1 solid rgba($gray, .35);
  }


/* /end box-1 */
}

/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

  .box-1 {
  @include block-pop;
  padding: 3em;
  /* nested styles */

  /* /nested styles */
  }

  /* /desktop ***************************************** */
  }




