@import '../var/_var';

$block-bg:transparent;

.block-views-blocklogged-in-block-1 {
margin-bottom: 0;
}

.block-views-blocklogged-in-block-1 {
margin-right:-$m-pagep;
margin-left:-$m-pagep;
padding: $siteg $m-pagep;
background-color: $block-bg;
}

/* ***************************************** */

@media all and (min-width: 768px) { /* page layout for desktop screens */
.block-full-width {
margin-right:-$d-pagep;
margin-left:-$d-pagep;
padding: $siteg $d-pagep;
background-color: $block-bg;
}
}