@import '../var/_var';

ul.ui-widget.ui-autocomplete {
  background-color: white;
  font-size: $font-size-body;
  border: 1px solid #CCC;
  border-bottom: 0 none;
}

ul.ui-widget.ui-autocomplete li {
  background-color: white;
}

ul.ui-widget.ui-autocomplete li a,
ul.ui-widget.ui-autocomplete li a:hover {
  border-bottom: 1px solid #CCC;
}

ul.ui-widget.ui-autocomplete li:last-child a,
ul.ui-widget.ui-autocomplete li:last-child a:hover {
  border-bottom: 0 none;
}

.form-item,
.form-actions {
/* try not to set these globally */
}

/* form types - reference their unique values below at "unique form items" */
.views-exposed-form,
#edit-header, /* not a form class but extends forms that have bulk operations */
.block-admin-display-form,
.node-type-form, /* together on node type forms */
.node-type-edit-form,
.node-form, /* together on node forms */
.node-page-config-form,
.block-basic-form, /* together on block forms */
.block-content-form,
.user-form, /* user forms */
.profile-form,
.field-config-edit-form, /* together on field configuration forms */
.field-config-form,
.comment-article-comments-form, /* together on comment forms */
.comment-form {
/* admin/content */
}

/* ********** */
/* admin listing types */
/* ********** */

dl.node-type-list {
/* node/add */
}

dl.node-type-list dd,
dl.node-type-list dt {
/* node/add */
  padding: $form-item-pad;
  border: 1px solid $gray;
}

dl.list-group {}

dl.list-group dd,
dl.list-group dt {
/* node/add */
  padding: $form-item-pad;
  border: 1px solid $gray;
}

/* special forms that present their inputs in the header in inline fashion */
.form--inline {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
}

.form--inline .form-item,
.form--inline .form-actions { /* wraps views exposed fomrs to display inline */
  float: none;
  margin: 0;
  align-self: stretch; /* make items the same height */
  flex: 1;
  flex-basis: 15em;
}

.form--inline .form-item {}

.form--inline .form-actions { /* present form action on its own line */
  width: 100%;
  flex-basis: 100%;
}

/* ********** */
/* unique form items */
/* ********** */

/**/
/* form for selecting or creating new media items */
form.views-exposed-form {
  background-color: rgba($color-1, .15);
  padding: 1em;
}

form.views-exposed-form .form-wrapper {
flex-basis: 100%;
}

.views-exposed-form .form-item {
  @include form-item;
}

.views-exposed-form .form-item:first-child {
border-left: 0;
}

.views-exposed-form .form-actions {
  @include form-actions;
}

/* edit header - not a form class but extends forms with bulk operations */

#edit-header {
}

#edit-header .form-item {
  @include form-item;
}

#edit-header .form-actions {
  @include form-item;
  background-color: rgba($color-1, .2);
}

abbr.warning.tabledrag-changed {
  display: inline-block;
  border: $stroke-1 solid rgba($gray, 1);
}

/* block-admin-display-form - uses "responsive-enabled" */

.block-admin-display-form {
}

.block-admin-display-form table#blocks {
}

.block-admin-display-form table th {
  @include form-th;
}

.block-admin-display-form table td {
  @include form-td;
}

.block-admin-display-form table tr.region-title td { /* region titles */
  background-color: rgba($color-1, .2);
}

/* node-type-form */
  .node-type-form, /* together on node type forms */
  .node-type-edit-form {
  @include form-area;
}

/* node-form */
  .node-form, /* together on node forms */
  .node-page-config-form {
  @include form-area;
}

/* block-form */
.block-basic-form, /* together on block forms */
.block-content-form {
  @include form-area;
}

/* node-form */
.user-form {
  @include form-area;
}

/* profile-form */
.profile-form {
  @include form-area;
}

/* field-config-forms */

.field-config-edit-form, /* together on field configuration forms */
.field-config-form {
  @include form-area;
}

/* comment forms */

.comment-article-comments-form, /* together on comment forms */
.comment-form {
  @include form-area;
}

/* form-wrapper */
.form-wrapper {
margin-bottom: $siteg;
}
details.form-wrapper,
fieldset.form-wrapper {
  border: $form-item-border;
  padding: $form-wrap-pad;
  padding-bottom: 0;
}

fieldset.form-wrapper > legend { /* fix for legend element - legend is styled with span */
  display: block;
  float: left;
  width: 100%;
}

details.form-wrapper > summary,
fieldset.form-wrapper > legend span { /* legend is styled with span */
  @include form-label;
  border:0;
  border-bottom: $form-item-border;
  display: block;
  margin: -$form-wrap-pad * .86;
  margin-bottom: $siteg * .5;
}

details.form-wrapper > summary[aria-expanded="false"] {
margin-bottom: 0;
border-bottom: none;
}

details.form-wrapper > summary[aria-expanded="true"] {
margin-bottom: 0;
}

details.form-wrapper > .details-wrapper {
  @include details-wrapper;
}

/* edit layout button  */

a.button#edit-manage-layout {
  border: $stroke-1 solid #CCC;
  display: inline-block;
  padding: 1em;
  margin-bottom: 1em;
}


/* ui-autocomplete elements  */

ul.ui-autocomplete {}
ul.ui-autocomplete li.selected {}



ul.ui-autocomplete ul.links,
ul.ui-autocomplete ul.links li {
  background: none;
}

.ui-autocomplete p {
  margin: 0;
}

.ui-menu .ui-menu-item-wrapper { /* autocomplete links */
/* override menu.css
position: relative;
padding: 3px 1em 3px .4em;
*/
padding: 3px 1em 3px .4em;
display: block;
}

/* ********** */
/* form inputs, labels and descriptions */
/* ********** */

textarea,
input.form-text,
input.form-email,
input.views-filter-text.form-search,
input.form-url,
input.form-tel,
input.form-date,
input.form-search,
input.form-number,
input.form-time,
input.table-filter-text,
input[type=tel],
input.number, /* paypal iframe cc */
input#expiration-month-autofill-field,
input#cvv-autofill-field {
  background-color: $form-input-bgcolor;
  color: $color-text;
  border: $stroke-1 solid $gray-dark;
  font-size: $form-input-size;
  padding: $form-input-pad;
  width:100%;
}

div#commerce-paypal-card-number {
border: 1px solid #CCC;
}

span.field-prefix {
  padding: $form-input-pad;
  font-size: $form-input-size;
}

textarea.form-textarea {
  padding: $form-input-pad;
  font-size: $form-input-size;
  width: 100%;
  max-width: 100%;
}

select {
  width: 100%;
}

/* class applies to select element itself, not a wrapper element */
select.form-select {
  display: block;
  font-size: 1.6em;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  border-radius: .25em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat,repeat;
  background-position: right .8em top 50%,0 0;
  background-size: .65em auto,100%;
}

label {
@include form-label;
}

.form .description {
  font-size: $font-size-small;
  padding-top: .5em;
}

div.description.formtips-processed {
font-size: 1.3em;
}


/* Style for specific form fields and fieldsets */

/* datetime field */

.field--type-datetime.field--widget-datetime-default {}

.field--type-datetime.field--widget-datetime-default fieldset {}

.field--type-datetime.field--widget-datetime-default fieldset legend {}

.field--type-datetime.field--widget-datetime-default fieldset fieldset-wrapper {
}

.field--type-datetime.field--widget-datetime-default .form-item {
display: inline-block;
width: auto;
}

.form-item.form-type-date {}

.form-item.form-type-date[class*="value-time"] input { /* style for the time input field */
}

/* image field */

.form-item.form-type-managed-file {
}

.image-widget {
display: flex;
}

.image-widget .image-preview {
  width: 15em;
  height: 15em;
  margin-right: $siteg;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  img,
  svg {
    width: 10em;
    height: 10em;
    display: block;
    vertical-align: center;
    border: $stroke-1 solid rgba($white, .4);
  }
}

.image-widget .image-widget-data {
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: center;
}

.image-widget .image-widget-data .file--image {
font-size: $font-size-body * .8;
}

.image-widget .image-widget-data .file-size {
font-size: $font-size-body * .8;
}

span.file--image a {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.image-widget .image-widget-data .button {
}

/* number field */

.form-item.form-type-number {
}

.form-item.form-type-number span.field-prefix {
}

.form-item.form-type-number input {
}

