@import '../var/_var';

/**
 * @file
 * Contains minimal layout styling for the media library.
 */

.media-library-wrapper { /* wrapper for media library selections */
}

/* wrapper for media library selections
contains:
media-library-menu
media-library-content
 */
.media-library-wrapper > .media-library-menu,
.media-library-wrapper > .media-library-content {
  display: flex;
  flex-direction: column;
}

/* menu for media library media type selection */
ul.media-library-menu { /* the menu is the first flex item */
  /* self positioning */
  flex-basis: 15%;
  flex-shrink: 0;
  padding-right: $siteg;
  flex-grow: 1;
  /* flex positioning */
  padding: 0;
  background-color: rgba($color-1, .2);
  margin-bottom: 0;
  list-style-type: none;
  /* child positioning */
  display: flex;
  flex-direction: row;
  /* begin nested menu */

> li {}

> li a {
display: block;
padding: 1em .25em;
border: 1px solid #CCC;
border-bottom: none;
text-decoration: none;
}

> li a.active {
background-color: rgba($color-3, 1);
}

> li:last-child a {
border-bottom: 1px solid #CCC;
text-decoration: none;
}
/* end nested menu */
}

.media-library-content { /* content area for media selection */
  flex-grow: 1;
}

/* wrapper for media-library-content
contains:
#media-library-add-form-wrapper
#media-library-view
 */

 /* form for adding media items */
#media-library-add-form-wrapper {
  border: 1px solid black;
  padding: .5em;
}

/* view and search for media items
contains:
view-header
view-filters
view-content
*/
#media-library-view {
}

#media-library-view .view-media-library {
/* nested */

.view-header { /* contains tabs for list and grid view */

}
.view-filters { /* contains views filter */

}
.view-content { /* contains media item thumnails for selection */
}
/* /nested */
}



.media-library-content .view-media-library .view-header {
}

.media-library-content .view-media-library .view-filters {
}



/* form for selecting or creating new media items */
.media-library-content form.views-exposed-form {
  border: 2px solid green;
}

.media-library-content .view-media-library .view-content {
/* nested */

.media-library-views-form { /* flex area where media items are displayed */
  display: flex;
  flex-wrap: wrap;
  padding: .5em;
  background-color: rgba($black, .2);
}

.media-library-views-form table {
  background-color: rgba($white, 1);
}

.media-library-views-form > .media-library-item {
  justify-content: space-between;
  max-width: 20%;
  flex-basis: 20%;
  margin: 1%;
  background-color: rgba($white, 1);
  padding: .5em;
  border-radius: .25em;
  position: relative;
}

.views-field-media-library-select-form {
  position: absolute;
  top:.25em;
  left:.75em;
  z-index: 2;
}

th.views-field-media-library-select-form,
td.views-field-media-library-select-form {
  position: relative;
  top:0;
  left:0;
}

/* media thumbnmails in gird or table view */
.media-library-views-form .media-library-item img {
width: 100%;
height: auto;
}


/* /nested */
}

/* THIS HIDES THE DISPLAY OF PERMISSIONS BY TERM DETAILS WRAPPERS */
details[id^='edit-permissions-by-term-info'] {
  border: 3px solid purple;
  margin: 3em 0;
  display: none;
}

/**/
/* form for selecting or creating new media items */

.view-media-library .view-filters > form.views-exposed-form {
}

/* display paragraphs in form  */



.form-wrapper.paragraph-type-top {
display: flex;
align-content: center;
flex-direction: row;
background-color: rgba($color-1, .5);
align-items: center;
padding: .5em;
}

.form-wrapper.paragraph-type-top .paragraph-type-title {
font-size: 1.1em;
font-weight: bold;
}

.form-wrapper.paragraphs-subform {

}


.form-wrapper.paragraphs-subform > .form-wrapper {
}

.form-wrapper.field--name-field-gallery-item-media {
grid-column: 1/2;
grid-row: 1/3;
}

.form-wrapper.field--name-field-gallery-item-title {
padding-left: 1em;
}

.form-wrapper.field--name-field-gallery-item-description {
padding-top: 1em;
padding-left: 1em;
}

.media-library-selection { /* contains the media library selections items */
padding: 0;
}

.media-library-selection .media-library-item { /* one for each selected media item */
border: $stroke-1 solid rgba($black, .5);
padding: .5em;
margin: .5em 0;
display: flex;
justify-content: space-between;
align-items: center;
align-content: center;
position: relative;
}


.media-library-selection .media-library-item > * {
border: 1px solid #CCC;
}

.media-library-selection .media-library-item input.button.form-submit { /* grid-item */
order: 2;
}

.media-library-selection .media-library-item article { /* show the entity preview */
display: flex;
order: 1;
flex-grow: 1;
align-content: center;
justify-content: center;
align-items: center;
}

.media-library-selection .media-library-item article .media-library-item__preview { /* preview of media item selection (image) */
}

.media-library-selection .media-library-item article .media-library-item__preview .field--name-thumbnail { /* the image thumbnail field */
width: 4.5em;
height: 4.5em;
background-color: rgba($color-1, .3);
display: flex;
justify-content: center;
align-items: center;
}

.media-library-selection .media-library-item article .media-library-item__preview .field--name-thumbnail img { /* the image thumbnail field */
max-width: 4em;
max-height: 4em;
width: auto;
height: auto;
}

.media-library-selection .media-library-item article .media-library-item__attributes { /* attributes of the previewed media */
display: flex;
flex-grow: 1;
flex-direction: column;
justify-content: center;
padding-left: .5em;
}

.media-library-selection .media-library-item article .media-library-item__attributes .media-library-item__name {
}



input.js-media-library-item-weight {
}

.media-library-selection .media-library-edit__link {
border: 1px solid red;
order: 3;
padding: .25em;
vertical-align: middle;
display: flex;
flex-direction: column;
justify-content: center;
}


/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

.media-library-wrapper { /* wrapper for media library selections */
flex-direction: row;
}

/* menu for media library media type selection */
ul.media-library-menu { /* the menu is the first flex item */
  /* child positioning */
  flex-direction: column;
  /* begin nested menu */
> li {}
}
/* /end - page layout for desktop screens */
}
