article.profile{position:relative}article.profile .user__account{display:flex;justify-content:center;align-items:center}article.profile .user__account .field--name-user-picture{padding-left:1.2em}article.profile .user__content{display:flex;flex-direction:column}/*# sourceMappingURL=display.user-full.css.map */
