.node,.profile{position:relative}.node a.display-link,.profile a.display-link{display:block;position:absolute;z-index:1;width:100%;height:100%;text-decoration:none;top:0;left:0}.node .text-formatted a,.node .text-formatted a,.profile .text-formatted a,.profile .text-formatted a{position:relative;z-index:2}/*# sourceMappingURL=display.defaults.css.map */
